/* coursedescription.css */

.course-description {
  background-color: #fff; /* White background for contrast */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  padding: 20px;
  max-width: 800px; /* Adjust width */
  margin: 40px auto; /* Center the box on the page */
}

.course-header {
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between image and info */
  margin-bottom: 20px; /* Space between header and description */
}

.course-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect for image */
}

.course-info {
  flex-grow: 1;
}

.course-info h2 {
  color: #7C93C3; /* Custom color */
  margin-bottom: 10px;
}

.course-info p {
  color: #7C93C3; /* Secondary text color */
  font-size: 25px;

}


button.common-btn {
  background-color: #7C93C3; /* Button color */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button.common-btn:hover {
  background-color: #A25772; /* Button hover effect */
}

.course-description .course-info p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}