header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /*Efek transparan */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37); /* Shadow lembut */
  backdrop-filter: blur(10px); /* Efek blur glassy */
  border-radius: 50px; /* Bentuk gelembung */
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  z-index: 10;
  background-color: #ffffff;

}




header:hover {
  transform: translateY(-10px); /* Efek melayang */
  background-color: rgba(255, 255, 255, 0.3); /* Latar lebih terang saat hover */
}

.logo {
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;
  color: #7C93C3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan ringan */
  cursor: pointer;
  transition: color 0.3s ease;


  &:hover {
    color: #A25772; /* Warna berubah saat hover */
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.link {
  background-color: rgba(255, 255, 255, 0.3);

  
  display: flex;
  gap: 1.5rem;

  @media (max-width: 768px) {
    gap: 1rem;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
    padding: 12px 20px;
    border-radius: 50px; /* Bentuk oval */
    background-color: rgba(255, 255, 255, 0.2); /* Efek transparan glassy */
    color: #EEF5FF;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Shadow untuk link */
    background-color: rgba(255, 255, 255, 0.1); /* Efek transparan */
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37); /* Shadow lembut */
    background-color: #7C93C3;

    &:hover {
      background-color: #A25772; /* Warna hover */
      color: #fff;
      box-shadow: 0 8px 16px rgba(124, 147, 195, 0.4); /* Shadow lebih tegas saat hover */
    }

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 10px 16px;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 15px;
  }

  .logo {
    font-size: 22px;
  }

  .link a {
    font-size: 16px;
    padding: 8px 14px;
  }
}
